body {
    text-align: center;
    font-family: helvetica;
}

/*=======================================================================
// Styling for the menu buttons.
=======================================================================*/
.menu-btn {
    display: block;
    position: absolute;
    top: 600px;
    text-align: center;
    margin: 0px auto 0px auto;
    width: 60px;
    height: 40px;
    line-height: 40px;
    background-color: hsl(138, 100%, 29%);
    color: white;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
    cursor: pointer;
}

.menu-btn:hover {
    background-color:red;
}

.menu-easier {
    left: 180px;
    right: 0px;
}

.menu-harder {
    left: 310px;
    right: 0px;
}

.menu-info {
    left: 440px;
    right: 0;
}

/*=======================================================================
Styling for the modal window.
=======================================================================*/
#modal {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    width: 320px;
    height: 330px;
    background: rgb(250, 252, 255);
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #b1b1b1;
    border-style: ridge;
    margin-top: 80px;
}

.modal-close {
    margin-top: 5px;
    margin-left: 290px;
    font-size: 1.2em;
    border: none;
    background: rgb(250, 252, 255);
}

.modal-close:hover {
    color: red;
    cursor: pointer;
}

.modal-victory {
    text-transform: capitalize;
    color: hsl(138, 100%, 29%);
    font-size: 6em;
    text-align: center;
    width: 280px;
    margin: 5px 5px 5px 5px;
}

.modal-new-game {
    line-height: 40px;
    background-color: hsl(138, 100%, 29%);
    color: white;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
    cursor: pointer;
}

.modal-new-game:hover {
    background-color:red;
}

.modal-header {
    text-transform: capitalize;
    color: hsl(138, 100%, 29%);
    font-size: 1.3em;
    width: 280px;
    margin: 5px 5px 5px 5px;
}

.modal-text {
    color: rgb(39, 39, 39);
    font-size: 1.1em;
    width: 280px;
    margin: 5px 5px 5px 5px;
}

.no-hover {
    pointer-events: none;
}

.employees-blur {
    filter: blur(2px);
}